div.header{
    background-color: white;
    height: 100px;
    width: 80%;
    margin-left: 10%;

}
div.content{
    background-color: skyblue;
    width: 80%;
    height: 900px;
    margin-left: 10%;

}
div.footer{
    background-color: lightpink;
    height: 50px;
    width: auto;
}
img{
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 50px;
    border:1px solid lightgray;
}
ul{

    list-style: none;
    margin: 0px;
    padding: 0px;

}
li{

    margin: 25px 0px 0px 20px;
    float: left;
    width: 100px;
    height: 30px;
    background-color: lightgray;
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 15px;
    border:1px solid lightcoral;
}
li:hover{
    background-color: red;
}
a{
    text-decoration: none;
    color: white;
}